.round {
    border-radius: 50%;
}

.animate-background {
    background: linear-gradient(300deg,#00a2ff22,#6d81a687 , #72a2ef);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }



@keyframes animate-backgorund {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.color {
    color: #003366;
    font-family:cursive;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}

p {
    color:#2f4f4f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.color1{
    color: black;
    font-weight: 700;   
}

.color2 {
    color: black;
    font-weight: 400;
}


.h1 {
    font-family:cursive;
    font-weight: 700;

}

.p1 {
    font-family:cursive;
    font-weight: 1;
    
}


.p {
    font-family:cursive;
    font-weight: 700;
    font-size:larger;
    color: black;
}



.mb-4 {
    margin-bottom: 0;
}